{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}Prodavnica Rucnih Radova{% endblock title %} </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>

    <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                <a class="navbar-item" href="{% url 'base:home' %}">
                    Početna
                </a>
                
                {% for kategorija in kategorije %}
                    <a class="navbar-item" href="{% url 'artikal:kategorija' kategorija.slug %}">
                        {{kategorija.naziv}}
                    </a>
                {% endfor %}

                

                </div>

                <div class="navbar-start">
                    <div class="navbar-item">
                        <form method="get" action="{% url 'artikal:pretraga' %}">
                            <div class="field has-addons">
                                <div class="control">
                                    <input type="search" name="query" id="" class="input" placeholder="Pretraži...">
                                </div>
                                <div class="control">
                                    <button class="button is-dark is-uppercase">Pretraži</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="navbar-end">

                <div class="navbar-item">
                    <a href="{% url 'korpa:korpa' %}" class="button is-warning">Korpa {% if korpa %}({{korpa|length}}){% endif %}</a>
                </div>
                
                {% if request.user.is_authenticated %}

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link is-capitalized">
                    {{user.prodavac.ime}}
                    </a>

                    <div class="navbar-dropdown">
                    <a class="navbar-item" href="{% url 'prodavac:prodavac-admin' %}">
                        Profil
                    </a>
                    <a class="navbar-item" href="{% url 'prodavac:uredi-prodavca' %}">
                        Uredi Profil
                    </a>
                    <a class="navbar-item" href="{% url 'prodavac:dodaj-artikal' %}">
                        Dodaj Artikal
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="{% url 'prodavac:logout' %}">
                        Logout
                    </a>
                    </div>
                </div>

                {% else %}

                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{% url 'prodavac:postani-prodavac' %}">
                            <strong>Postani Prodavac</strong>
                        </a>
                        <a class="button is-light" href="{% url 'prodavac:login' %}">
                            Log in
                        </a>
                    </div>
                </div>

                {% endif %}


                </div>
            </div>
            </nav>
    </div>
    
    <section class="section">
        <div class="container">

            {% block content %}{% endblock content %}

        </div>
    </section>

    
    <footer class="footer">
        <div class="container">
            <h3 class="is-size-4 mb-4">Prodavnica Rucnih Radova</h3>
            
            {% if request.user.is_authenticated %}
                <a href="{% url 'prodavac:prodavac-admin' %}">Prodavac Admin</a>
            {% else %}
                <a href="{% url 'prodavac:postani-prodavac' %}">Postani Prodavac</a>
            {% endif %}

            <br>
            <a href="{% url 'prodavac:prodavci' %}">Svi Prodavci</a>

        </div>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}

</body>
</html>
