{% extends 'base/base.html' %}

{% block title %}Korpa {% endblock title %}

{% block content %}

    <h1 class="title">Korpa</h1>

    {% if korpa %}
    
        <div class="box mb-6">
            <div class="table">
                <table class="table is-fullwidth is-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Artikal</th>
                            <th>Kolicina</th>
                            <th>Cena</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for item in korpa %}
                        
                            <tr>
                                <td>
                                    <figure class="image is-64x64">
                                        <img src="{{ item.artikal.get_thumbnail }}" alt="{{item.artikal.naziv}}">
                                    </figure>
                                </td>
                                <td>
                                    <a href="{% url 'artikal:artikal' item.artikal.kategorija.slug item.artikal.slug %}">{{item.artikal.naziv}}</a>
                                </td>
                                <td>
                                    RSD {{item.kolicina}}

                                    <a href="?azuriraj_kolicinu={{ item.id }}&kolicina=-1">-</a>
                                    <a href="?azuriraj_kolicinu={{ item.id }}&kolicina=1">+</a>

                                </td>

                                <td>RSD {{ item.ukupna_cena }}</td>
                                <td>
                                    <a href="?ukloni_iz_korpe={{item.id}}" class="delete">Obrisi</a>
                                </td>
                            </tr>
                        
                        {% endfor %}
                    </tbody>

                    <tfoot>
                        <tr>
                            <td></td>
                            <td><strong>Ukupna cena</strong> </td>
                            <td><strong>{{ korpa|length }}</strong> </td>
                            <td colspan="2">RSD {{korpa.get_ukupna_cena}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>


        <h2 class="subtitle">Kontakt Informacije</h2>

        <form method="post" action="" id="payment-form">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="notification is-danger">
                    {{form.non_field_errors}}
                </div>
            {% endif %}

            {% if form.errors %}
                <div class="notification is-danger">
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li><strong>{{field.label}}</strong>{{error}}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="columns">
                <div class="column is-6">
                    <div class="field">
                        <label>Ime</label>

                        <div class="control">
                            <input type="text" name="ime" id="" class="input">
                        </div>
                    </div>

                    <div class="field">
                        <label>Prezime</label>

                        <div class="control">
                            <input type="text" name="prezime" id="" class="input">
                        </div>
                    </div>

                    <div class="field">
                        <label>Email</label>

                        <div class="control">
                            <input type="email" name="email" id="" class="input">
                        </div>
                    </div>

                    <div class="field">
                        <label>Telefon</label>

                        <div class="control">
                            <input type="text" name="telefon" id="" class="input">
                        </div>
                    </div>

                </div>

                <div class="column is-6">
                    <div class="field">
                        <label>Adresa</label>

                        <div class="control">
                            <input type="text" name="adresa" id="" class="input">
                        </div>
                    </div>

                    <div class="field">
                        <label>Zip Code</label>

                        <div class="control">
                            <input type="text" name="zipcode" id="" class="input">
                        </div>
                    </div>

                    <div class="field">
                        <label>Mesto</label>

                        <div class="control">
                            <input type="text" name="mesto" id="" class="input">
                        </div>
                    </div>

                </div>

            </div>


            <h2 class="subtitle">Informacije o placanju</h2>

            <div id="card-element">
                {% comment %} A stripe Element will be inserted here {% endcomment %}
            </div>

            {% if messages %}
                {% for message in messages %}
                    <div class="notification is-danger">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="field">
                <div class="control">
                    <button class="button is-dark mt-4 is-uppercase">Plati</button>
                </div>
            </div>
        </form>
    {% else %}

    <p>Nemate ni jedan artikal u korpi.</p>

    {% endif %}

{% endblock content %}


{% block scripts %}

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe('{{ stripe_pub_key }}');
        var elements = stripe.elements();

        var card = elements.create('card');

        card.mount('#card-element');

        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();

            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    stripeTokenHandler(result.token);
                }
            });
        });

        function stripeTokenHandler(token) {
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripe_token');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);

            form.submit();
        }
    </script>

{% endblock scripts %}