{% extends 'base/base.html' %}


{% block title %}Prodavci{% endblock title %}


{% block content %}

    <h1 class="title">Prodavci</h1>

    <div class="columns is-multiline">
        {% for prodavac in prodavci %}
        
            <div class="column is-3">
                <div class="box">
                    <h2 class="subtitle">
                        {{ prodavac.ime }}
                    </h2>
                    <hr>

                    <a href="{% url 'prodavac:prodavac' prodavac.id %}" class="button is-primary ">Pogledaj Artikle</a>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock content %}